In [1]:
import pandas as pd

## 1. Read data

In [2]:
data = pd.read_csv("dataset_group.csv",header=None,names=['Date','TID','item'])

In [3]:
data.head()

         Date  TID           item
0  2000-01-01    1         yogurt
1  2000-01-01    1           pork
2  2000-01-01    1  sandwich bags
3  2000-01-01    1     lunch meat
4  2000-01-01    1   all- purpose

In [4]:
data_new = data.groupby(['TID'])['item'].apply(list)
data_new = data_new.index.to_frame(name='TID').join(data_new)
data_new = data_new.reset_index(drop=True)

In [5]:
data_new

       TID                                               item
0        1  [yogurt, pork, sandwich bags, lunch meat, all-...
1        2  [toilet paper, shampoo, hand soap, waffles, ve...
2        3  [soda, pork, soap, ice cream, toilet paper, di...
3        4  [cereals, juice, lunch meat, soda, toilet pape...
4        5  [sandwich loaves, pasta, tortillas, mixes, han...
...    ...                                                ...
1134  1135  [sugar, beef, sandwich bags, hand soap, paper ...
1135  1136  [coffee/tea, dinner rolls, lunch meat, spaghet...
1136  1137  [beef, lunch meat, eggs, poultry, vegetables, ...
1137  1138  [sandwich bags, ketchup, milk, poultry, cheese...
1138  1139  [soda, laundry detergent, vegetables, shampoo,...

[1139 rows x 2 columns]

In [6]:
data_final = pd.DataFrame(data_new.item.values.tolist(), data_new.index)

In [7]:
data_final

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,yogurt,pork,sandwich bags,lunch meat,all- purpose,flour,soda,butter,vegetables,beef,...,None,None,None,None,None,None,None,None,None,None
1,toilet paper,shampoo,hand soap,waffles,vegetables,cheeses,mixes,milk,sandwich bags,laundry detergent,...,None,None,None,None,None,None,None,None,None,None
2,soda,pork,soap,ice cream,toilet paper,dinner rolls,hand soap,spaghetti sauce,milk,ketchup,...,spaghetti sauce,pork,vegetables,cheeses,eggs,vegetables,vegetables,None,None,None
3,cereals,juice,lunch meat,soda,toilet paper,all- purpose,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,sandwich loaves,pasta,tortillas,mixes,hand soap,toilet paper,vegetables,vegetables,paper towels,vegetables,...,all- purpose,soda,yogurt,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,sugar,beef,sandwich bags,hand soap,paper towels,paper towels,all- purpose,beef,fruits,coffee/tea,...,beef,cereals,juice,poultry,sugar,soap,None,None,None,None
1135,coffee/tea,dinner rolls,lunch meat,spaghetti sauce,pasta,vegetables,cereals,dinner rolls,soap,milk,...,None,None,None,None,None,None,None,None,None,None
1136,beef,lunch meat,eggs,poultry,vegetables,tortillas,beef,beef,individual meals,dishwashing liquid/detergent,...,vegetables,pork,None,None,None,None,None,None,None,None
1137,sandwich bags,ketchup,milk,poultry,cheeses,soap,toilet paper,yogurt,beef,waffles,...,None,None,None,None,None,None,None,None,None,None
1138,soda,laundry detergent,vegetables,shampoo,vegetables,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [8]:
!pip3 install pyECLAT

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyECLAT in c:\program files\python39\lib\site-packages (1.0.2)
Requirement already satisfied: pandas>=0.25.3 in c:\program files\python39\lib\site-packages (from pyECLAT) (1.5.1)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\aw\appdata\roaming\python\python39\site-packages (from pyECLAT) (4.64.1)
Requirement already satisfied: numpy>=1.17.4 in c:\program files\python39\lib\site-packages (from pyECLAT) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python39\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\aw\appdata\roaming\python\python39\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: colorama in c:\users\aw\appdata\roaming\python\python39\site-packages (from tqdm>=4.41.1->pyECLAT) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\aw\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->pyECLAT) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
from pyECLAT import ECLAT
eclat_instance = ECLAT(data=data_final, verbose=True)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:00<00:00, 52.54it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:00<00:00, 13027.86it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 39/39 [00:00<00:00, 851.48it/s]

In [10]:
eclat_instance.df_bin

,butter,sandwich bags,laundry detergent,toilet paper,flour,dinner rolls,ketchup,soap,pasta,hand soap,...,None,coffee/tea,aluminum foil,all- purpose,ice cream,cereals,fruits,sugar,waffles,tortillas
0,1,1,1,0,1,1,0,1,0,0,...,0,0,1,1,1,0,0,0,0,0
1,0,1,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,1,1
2,0,0,1,1,0,1,1,1,0,1,...,0,0,0,0,1,1,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4,0,0,0,1,1,1,0,0,1,1,...,0,0,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,0,1,0,0,0,1,0,1,0,1,...,0,1,0,1,1,1,1,1,0,0
1135,0,0,0,0,0,1,0,1,1,1,...,0,1,0,0,0,1,0,0,0,0
1136,0,0,0,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,1
1137,0,1,0,1,0,0,1,1,0,0,...,0,0,0,1,0,0,0,1,1,0
1138,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## find top 10 bought item?

In [11]:
items_total = eclat_instance.df_bin.astype(int).sum(axis=0)
sorted_item = items_total.sort_values(ascending=False)

In [12]:
sorted_item[:10]

vegetables      842
poultry         480
ice cream       454
cereals         451
lunch meat      450
waffles         449
cheeses         445
soda            445
eggs            444
dinner rolls    443
dtype: int64

In [13]:
eclat_instance.uniq_

['butter',
 'sandwich bags',
 'laundry detergent',
 'toilet paper',
 'flour',
 'dinner rolls',
 'ketchup',
 'soap',
 'pasta',
 'hand soap',
 'mixes',
 'sandwich loaves',
 'shampoo',
 'bagels',
 'juice',
 'spaghetti sauce',
 'poultry',
 'dishwashing liquid/detergent',
 'eggs',
 'beef',
 'soda',
 'pork',
 'milk',
 'yogurt',
 'individual meals',
 'cheeses',
 'paper towels',
 'vegetables',
 'lunch meat',
 None,
 'coffee/tea',
 'aluminum foil',
 'all- purpose',
 'ice cream',
 'cereals',
 'fruits',
 'sugar',
 'waffles',
 'tortillas']

In [14]:
df = pd.DataFrame({'items': items_total.index, 'transactions': items_total.values}) 
# cloning pandas DataFrame for visualization purpose  
df_table = df.sort_values("transactions", ascending=False)
#  Top 5 most popular products/items
df_table.head(5).style.background_gradient(cmap='Blues')

### Using ECLAT

In [15]:
# the item shoud appear at least at 5% of transactions
min_support = 10/100
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transaction
max_combination = 3
rule_indices, rule_supports = eclat_instance.fit(min_support=min_support,
                                                 min_combination=min_combination,
                                                 max_combination=max_combination,
                                                 separator=' & ',
                                                 verbose=True)

Combination 2 by 2

703it [00:08, 80.45it/s]

Combination 3 by 3

8436it [01:01, 137.36it/s]

In [16]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result.sort_values(by=['Support'], ascending=False)

                                 Item   Support
482              poultry & vegetables  0.331870
521                 eggs & vegetables  0.326602
601               yogurt & vegetables  0.319579
656              vegetables & waffles  0.315189
648           vegetables & lunch meat  0.311677
...                               ...       ...
1133      juice & vegetables & fruits  0.105356
1001    hand soap & pork & vegetables  0.104478
711   butter & hand soap & vegetables  0.102722
721        butter & beef & vegetables  0.100966
1259       pork & vegetables & fruits  0.100966

[1368 rows x 2 columns]

### Mix it with MLXtend Association Rules

In [17]:
from mlxtend.frequent_patterns import association_rules

In [18]:
result = result.rename(columns={"Item": "itemsets", "Support": "support"})

In [19]:
result

                              itemsets   support
0               butter & sandwich bags  0.153644
1           butter & laundry detergent  0.158033
2                butter & toilet paper  0.154522
3                       butter & flour  0.136084
4                butter & dinner rolls  0.151888
...                                ...       ...
1363     vegetables & fruits & waffles  0.130817
1364   vegetables & fruits & tortillas  0.111501
1365      vegetables & sugar & waffles  0.136084
1366    vegetables & sugar & tortillas  0.123793
1367  vegetables & waffles & tortillas  0.121159

[1368 rows x 2 columns]

In [20]:
for row in result['itemsets']:
    if ("milk" in row):
        print(row)

butter & milk
sandwich bags & milk
laundry detergent & milk
toilet paper & milk
flour & milk
dinner rolls & milk
ketchup & milk
soap & milk
pasta & milk
hand soap & milk
mixes & milk
sandwich loaves & milk
shampoo & milk
bagels & milk
juice & milk
spaghetti sauce & milk
poultry & milk
dishwashing liquid/detergent & milk
eggs & milk
beef & milk
soda & milk
pork & milk
milk & yogurt
milk & individual meals
milk & cheeses
milk & paper towels
milk & vegetables
milk & lunch meat
milk & coffee/tea
milk & aluminum foil
milk & all- purpose
milk & ice cream
milk & cereals
milk & fruits
milk & sugar
milk & waffles
milk & tortillas
butter & milk & vegetables
sandwich bags & milk & vegetables
laundry detergent & milk & vegetables
toilet paper & milk & vegetables
flour & milk & vegetables
dinner rolls & milk & vegetables
ketchup & milk & vegetables
soap & milk & vegetables
pasta & milk & vegetables
hand soap & milk & vegetables
mixes & milk & vegetables
sandwich loaves & milk & vegetables
shampoo & milk & vegetables
bagels & milk & vegetables
juice & milk & vegetables
spaghetti sauce & milk & vegetables
poultry & milk & vegetables
dishwashing liquid/detergent & milk & vegetables
eggs & milk & vegetables
beef & milk & vegetables
soda & milk & vegetables
pork & milk & vegetables
milk & yogurt & vegetables
milk & individual meals & vegetables
milk & cheeses & vegetables
milk & paper towels & vegetables
milk & vegetables & lunch meat
milk & vegetables & coffee/tea
milk & vegetables & aluminum foil
milk & vegetables & all- purpose
milk & vegetables & ice cream
milk & vegetables & cereals
milk & vegetables & fruits
milk & vegetables & sugar
milk & vegetables & waffles
milk & vegetables & tortillas

In [21]:
new_column = []

for row in result['itemsets']:
    r = row.split('&')
    r = tuple(i.strip() for i in r)
    new_column.append(r)

result['itemsets'] = pd.Series(new_column)

In [22]:
result

                              itemsets   support
0              (butter, sandwich bags)  0.153644
1          (butter, laundry detergent)  0.158033
2               (butter, toilet paper)  0.154522
3                      (butter, flour)  0.136084
4               (butter, dinner rolls)  0.151888
...                                ...       ...
1363     (vegetables, fruits, waffles)  0.130817
1364   (vegetables, fruits, tortillas)  0.111501
1365      (vegetables, sugar, waffles)  0.136084
1366    (vegetables, sugar, tortillas)  0.123793
1367  (vegetables, waffles, tortillas)  0.121159

[1368 rows x 2 columns]

In [23]:
rules_mlxtend = association_rules(result, support_only=True,metric="confidence", min_threshold=0.1)
print("number of rules: ",rules_mlxtend.shape[0])
rules_mlxtend.head()

number of rules:  5396

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(butter),(sandwich bags),NaN,NaN,0.153644,NaN,NaN,NaN,NaN,NaN
1,(sandwich bags),(butter),NaN,NaN,0.153644,NaN,NaN,NaN,NaN,NaN
2,(butter),(laundry detergent),NaN,NaN,0.158033,NaN,NaN,NaN,NaN,NaN
3,(laundry detergent),(butter),NaN,NaN,0.158033,NaN,NaN,NaN,NaN,NaN
4,(butter),(toilet paper),NaN,NaN,0.154522,NaN,NaN,NaN,NaN,NaN