# Bài tập tuần 2
## Bài tập số 1:

In [1]:
# Definition of survey_vector
survey_vector <- c("R", "R", "L", "L", "R", "R", "C", "C")

# Create survey_vector as a factor: survey_factor

# Print survey_factor

# Print levels of survey_factor

# Print nlevels of survey_factor

# How many elements of each factor?

In [2]:
# Create survey_vector as a factor: survey_factor
survey_factor <- factor(survey_vector)

In [3]:
# Print survey_factor
print(survey_factor)

[1] R R L L R R C C
Levels: C L R

In [4]:
# Print levels of survey_factor
print(levels(survey_factor))

[1] "C" "L" "R"

In [5]:
# Print nlevels of survey_factor
print(nlevels(survey_factor))

[1] 3

In [6]:
# How many elements of each factor?
table(survey_factor)

survey_factor
C L R
2 2 4

## Bài tập số 2:

In [7]:
# Create my_vector: 1 up to 10

# Create my_matrix (3x3): 1 up to 9

# Create my_factor from sizes
sizes <-c("M","S","L","L","M")

# Construct my_list with the three data structures above

# Construct my_super_list with the four data structures above

# Display structure of my_super_list (Use str())

# Print my_matrix, sum of my_matrix, sum of even elements in my_matrix

In [8]:
# Create my_vector: 1 up to 10
my_vector <- 1:10
my_vector

 [1]  1  2  3  4  5  6  7  8  9 10

In [9]:
# Create my_matrix (3x3): 1 up to 9
my_matrix <- matrix(1:9, nrow = 3)
my_matrix

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [10]:
# Create my_factor from sizes
sizes <- c("M", "S", "L", "L", "M")
my_factor <- factor(sizes)
my_factor

[1] M S L L M
Levels: L M S

In [11]:
# Construct my_list with the three data structures above
my_list <- list(my_vector, my_matrix, my_factor)
my_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[3]]
[1] M S L L M
Levels: L M S

In [12]:
# Construct my_super_list with the four data structures above
my_super_list <- list(my_vector, my_matrix, my_factor, my_list)
my_super_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[3]]
[1] M S L L M
Levels: L M S

[[4]]
[[4]][[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[4]][[2]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[4]][[3]]
[1] M S L L M
Levels: L M S

In [13]:
# Display structure of my_super_list (Use str())
str(my_super_list)

List of 4
 $ : int [1:10] 1 2 3 4 5 6 7 8 9 10
 $ : int [1:3, 1:3] 1 2 3 4 5 6 7 8 9
 $ : Factor w/ 3 levels "L","M","S": 2 3 1 1 2
 $ :List of 3
  ..$ : int [1:10] 1 2 3 4 5 6 7 8 9 10
  ..$ : int [1:3, 1:3] 1 2 3 4 5 6 7 8 9
  ..$ : Factor w/ 3 levels "L","M","S": 2 3 1 1 2

In [14]:
# Print my_matrix, sum of my_matrix, sum of even elements in my_matrix
print(my_matrix)
print(sum(my_matrix))
print(sum(my_matrix[my_matrix %% 2 == 0]))

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
[1] 45
[1] 20

## Bài tập số 3:

In [15]:
# Create my_matrix (4x4): each element is a randomly generated prime number.

# Sum the elements on the main diagonal of the matrix

# (Note: Build function to create_matrix, function to test_Prime number, and function to Sum... >> Call fucntion)

In [16]:
# Function to check prime number
is_prime <- function(n) {
  if (n <= 1) return(FALSE)
  if (n <= 3) return(TRUE)
  if (n %% 2 == 0 || n %% 3 == 0) return(FALSE)
  
  i <- 5
  while (i * i <= n) {
    if (n %% i == 0 || n %% (i + 2) == 0) return(FALSE)
    i <- i + 6
  }
  
  return(TRUE)
}

In [17]:
create_matrix <- function(rows, cols) {
  matrix(sapply(1:(rows*cols), function(x) {
    prime <- sample(which(sapply(1:1000, is_prime)), 1)
    return(prime)
  }), nrow = rows)
}

In [18]:
sum_main_diagonal <- function(matrix) {
  n <- min(dim(matrix))
  diagonal_sum <- sum(matrix[cbind(1:n, 1:n)])
  return(diagonal_sum)
}

In [19]:
# Create a 4x4 matrix of prime numbers
my_matrix <- create_matrix(4, 4)
print(my_matrix)

# Sum the elements on the main diagonal
diagonal_sum <- sum_main_diagonal(my_matrix)
print(diagonal_sum)

     [,1] [,2] [,3] [,4]
[1,]  619  337  157  509
[2,]   41  449  383  491
[3,]  353  641  911  439
[4,]  677  457  727  571
[1] 2550

## Bài tập số 4:

In [20]:
# Create my_array (4, 4, 2): from 2 matrices created by calling function create_matrix (Bai tap so 3)

# Use apply to calculate the min of the rows across all the matrices.

# Use apply to calculate the max of the columns across all the matrices.

# Use apply to calculate the sum of each matrix in my_array

In [21]:
# Create my_array (4, 4, 2): from 2 matrices created by calling function create_matrix (Bai tap so 3)

matrix1 <- create_matrix(4, 4)
matrix2 <- create_matrix(4, 4)
my_array <- array(c(matrix1, matrix2), dim = c(4, 4, 2))
print(my_array)

, , 1

     [,1] [,2] [,3] [,4]
[1,]  137  367  281  499
[2,]  257  131  601  317
[3,]  461  491    7   83
[4,]  227  269  307  139

, , 2

     [,1] [,2] [,3] [,4]
[1,]   97  997  911  349
[2,]  193  547  653  157
[3,]  359   83  359  179
[4,]  487  421  887  673

In [22]:
# Use apply to calculate the min of the rows across all the matrices.
min_rows <- apply(my_array, c(1), min)
print(min_rows)

[1]  97 131   7 139

In [23]:
# Use apply to calculate the max of the columns across all the matrices.
max_columns <- apply(my_array, c(2), max)
print(max_columns)

[1] 487 997 911 673

In [24]:
# Use apply to calculate the sum of each matrix in my_array
sum_matrices <- apply(my_array, c(3), sum)
print(sum_matrices)

[1] 4574 7352

## Bài tập số 5

In [25]:
# Create title, actors, reviews
title = "The Shining"
actors_vector <- c("Jack Nicholson","Shelley Duvall","Danny Lloyd","Scatman Crothers","Barry Nelson")
reviews_factor <- factor(c("Good", "OK", "Good", "Perfect", "Bad", "Perfect", "Good"), 
                  ordered = TRUE, levels = c("Bad", "OK", "Good", "Perfect"))

# Create the list 'shining_list' from 3 vectors above

# Select the last actor from list: last_actor

# Select the second review from list: second_review

# Add the element 'release_year' = 1980 to shining_list

# Add the element 'director' = "Stanley Kubrick" to shining_list

# Print list shining_list

# Print the structure of shining_list

In [26]:
# Create the list 'shining_list' from the three vectors above
shining_list <- list(title = title, actors = actors_vector, reviews = reviews_factor)
shining_list

$title
[1] "The Shining"

$actors
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

$reviews
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

In [27]:
# Select the last actor from list: last_actor
last_actor <- shining_list$actors[length(shining_list$actors)]
last_actor

[1] "Barry Nelson"

In [28]:
# Select the second review from list: second_review
second_review <- shining_list$reviews[2]
second_review

[1] OK
Levels: Bad < OK < Good < Perfect

In [29]:
# Add the element 'release_year' = 1980 to shining_list
shining_list$release_year <- 1980
shining_list

$title
[1] "The Shining"

$actors
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

$reviews
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

$release_year
[1] 1980

In [30]:
# Add the element 'director' = "Stanley Kubrick" to shining_list
shining_list$director <- "Stanley Kubrick"
shining_list

$title
[1] "The Shining"

$actors
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

$reviews
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

$release_year
[1] 1980

$director
[1] "Stanley Kubrick"

In [31]:
# Print list shining_list
print(shining_list)

$title
[1] "The Shining"

$actors
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

$reviews
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

$release_year
[1] 1980

$director
[1] "Stanley Kubrick"

In [32]:
# Print the structure of shining_list
str(shining_list)

List of 5
 $ title       : chr "The Shining"
 $ actors      : chr [1:5] "Jack Nicholson" "Shelley Duvall" "Danny Lloyd" "Scatman Crothers" ...
 $ reviews     : Ord.factor w/ 4 levels "Bad"<"OK"<"Good"<..: 3 2 3 4 1 4 3
 $ release_year: num 1980
 $ director    : chr "Stanley Kubrick"

## Bài tập số 6: Hãy thực hiện những yêu cầu sau với R-core dataframe và/ hoặc Tidyverse
1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?

#### Note: dùng df = cbind(names = rownames(df), df) hoặc rownames_to_column(df, var = "names"): chuyển cột index thành cột "names"

###  R-core DataFrame

In [33]:
# Read datasets
data(mtcars)
df <- mtcars

In [34]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [35]:
summary(df)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [36]:
# 2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
sub_data <- df[, c("mpg", "hp", "wt", "gear")]
head(sub_data)

                  mpg  hp  wt    gear
Mazda RX4         21.0 110 2.620 4
Mazda RX4 Wag     21.0 110 2.875 4
Datsun 710        22.8  93 2.320 4
Hornet 4 Drive    21.4 110 3.215 3
Hornet Sportabout 18.7 175 3.440 3
Valiant           18.1 105 3.460 3

In [37]:
# 3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
sub_data$km_per_litre <- sub_data$mpg * 0.425
head(sub_data)

                  mpg  hp  wt    gear km_per_litre
Mazda RX4         21.0 110 2.620 4    8.9250
Mazda RX4 Wag     21.0 110 2.875 4    8.9250
Datsun 710        22.8  93 2.320 4    9.6900
Hornet 4 Drive    21.4 110 3.215 3    9.0950
Hornet Sportabout 18.7 175 3.440 3    7.9475
Valiant           18.1 105 3.460 3    7.6925

In [38]:
# 4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
sub_data_unique <- unique(df)

In [39]:
# 5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
sub_data_unique <- sub_data_unique[order(-sub_data_unique$mpg, sub_data_unique$hp), ]
print(sub_data_unique)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4

In [40]:
# 6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
mazda_cars <- sub_data_unique[grep("Mazda", rownames(sub_data_unique)), ]
num_mazda_cars <- nrow(mazda_cars)
cat("Số lượng xe thỏa điều kiện:", num_mazda_cars, "\n")

Số lượng xe thỏa điều kiện: 2

In [41]:
mazda_cars

              mpg cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21  6   160  110 3.9  2.620 16.46 0  1  4    4
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4

In [42]:
#7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
max_mpg_value <- max(sub_data_unique$mpg)
max_mpg_rows <- sub_data_unique[sub_data_unique$mpg == max_mpg_value, ]
cat("Giá trị mpg lớn nhất:", max_mpg_value, "\n")
print("Các dòng dữ liệu có mpg = mpg lớn nhất:")
print(max_mpg_rows)

Giá trị mpg lớn nhất: 33.9
[1] "Các dòng dữ liệu có mpg = mpg lớn nhất:"
                mpg cyl disp hp drat    wt qsec vs am gear carb
Toyota Corolla 33.9   4 71.1 65 4.22 1.835 19.9  1  1    4    1

In [43]:
# 8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
filtered_data <- sub_data_unique[sub_data_unique$mpg >= 25 & sub_data_unique$cyl == 4 & sub_data_unique$gear == 4, ]
filtered_data

               mpg  cyl disp hp drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4   78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2
Fiat X1-9      27.3 4   79.0 66 4.08 1.935 18.90 1  1  4    1

In [44]:
# 9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
cyl_stats <- aggregate(cbind(count = 1, hp_max = hp, mpg_min = mpg) ~ cyl, data = filtered_data, 
                        FUN = function(x) c(length(x), max(x), min(x)))
print(cyl_stats)

  cyl count.1 count.2 count.3 hp_max.1 hp_max.2 hp_max.3 mpg_min.1 mpg_min.2
1   4       4       1       1        4       66       52       4.0      33.9
  mpg_min.3
1      27.3

In [45]:
# 10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?
max_km_car <- sub_data[sub_data$km_per_litre == max(sub_data$km_per_litre), ]
min_km_car <- sub_data[sub_data$km_per_litre == min(sub_data$km_per_litre), ]
print("Xe có km_per_litre lớn nhất:")
print(max_km_car)
print("Xe có km_per_litre nhỏ nhất:")
print(min_km_car)

[1] "Xe có km_per_litre lớn nhất:"
                mpg hp    wt gear km_per_litre
Toyota Corolla 33.9 65 1.835    4      14.4075
[1] "Xe có km_per_litre nhỏ nhất:"
                     mpg  hp    wt gear km_per_litre
Cadillac Fleetwood  10.4 205 5.250    3         4.42
Lincoln Continental 10.4 215 5.424    3         4.42

### Tidyverse

In [46]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [47]:
# 1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
df <- mtcars

In [48]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [49]:
summary(df)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [50]:
# 2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
sub_data <- df %>% select(mpg, hp, wt, gear)
sub_data

                    mpg  hp  wt    gear
Mazda RX4           21.0 110 2.620 4
Mazda RX4 Wag       21.0 110 2.875 4
Datsun 710          22.8  93 2.320 4
Hornet 4 Drive      21.4 110 3.215 3
Hornet Sportabout   18.7 175 3.440 3
Valiant             18.1 105 3.460 3
Duster 360          14.3 245 3.570 3
Merc 240D           24.4  62 3.190 4
Merc 230            22.8  95 3.150 4
Merc 280            19.2 123 3.440 4
Merc 280C           17.8 123 3.440 4
Merc 450SE          16.4 180 4.070 3
Merc 450SL          17.3 180 3.730 3
Merc 450SLC         15.2 180 3.780 3
Cadillac Fleetwood  10.4 205 5.250 3
Lincoln Continental 10.4 215 5.424 3
Chrysler Imperial   14.7 230 5.345 3
Fiat 128            32.4  66 2.200 4
Honda Civic         30.4  52 1.615 4
Toyota Corolla      33.9  65 1.835 4
Toyota Corona       21.5  97 2.465 3
Dodge Challenger    15.5 150 3.520 3
AMC Javelin         15.2 150 3.435 3
Camaro Z28          13.3 245 3.840 3
Pontiac Firebird    19.2 175 3.845 3
Fiat X1-9           27.3  66 1.935 4
Porsche 914-2       26.0  91 2.140 5
Lotus Europa        30.4 113 1.513 5
Ford Pantera L      15.8 264 3.170 5
Ferrari Dino        19.7 175 2.770 5
Maserati Bora       15.0 335 3.570 5
Volvo 142E          21.4 109 2.780 4

In [51]:
# 3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
sub_data <- sub_data %>% mutate(km_per_litre = mpg * 0.425)
sub_data

                    mpg  hp  wt    gear km_per_litre
Mazda RX4           21.0 110 2.620 4     8.9250
Mazda RX4 Wag       21.0 110 2.875 4     8.9250
Datsun 710          22.8  93 2.320 4     9.6900
Hornet 4 Drive      21.4 110 3.215 3     9.0950
Hornet Sportabout   18.7 175 3.440 3     7.9475
Valiant             18.1 105 3.460 3     7.6925
Duster 360          14.3 245 3.570 3     6.0775
Merc 240D           24.4  62 3.190 4    10.3700
Merc 230            22.8  95 3.150 4     9.6900
Merc 280            19.2 123 3.440 4     8.1600
Merc 280C           17.8 123 3.440 4     7.5650
Merc 450SE          16.4 180 4.070 3     6.9700
Merc 450SL          17.3 180 3.730 3     7.3525
Merc 450SLC         15.2 180 3.780 3     6.4600
Cadillac Fleetwood  10.4 205 5.250 3     4.4200
Lincoln Continental 10.4 215 5.424 3     4.4200
Chrysler Imperial   14.7 230 5.345 3     6.2475
Fiat 128            32.4  66 2.200 4    13.7700
Honda Civic         30.4  52 1.615 4    12.9200
Toyota Corolla      33.9  65 1.835 4    14.4075
Toyota Corona       21.5  97 2.465 3     9.1375
Dodge Challenger    15.5 150 3.520 3     6.5875
AMC Javelin         15.2 150 3.435 3     6.4600
Camaro Z28          13.3 245 3.840 3     5.6525
Pontiac Firebird    19.2 175 3.845 3     8.1600
Fiat X1-9           27.3  66 1.935 4    11.6025
Porsche 914-2       26.0  91 2.140 5    11.0500
Lotus Europa        30.4 113 1.513 5    12.9200
Ford Pantera L      15.8 264 3.170 5     6.7150
Ferrari Dino        19.7 175 2.770 5     8.3725
Maserati Bora       15.0 335 3.570 5     6.3750
Volvo 142E          21.4 109 2.780 4     9.0950

In [52]:
# 4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
sub_data_unique <- df %>% distinct()
sub_data_unique

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [53]:
# 5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
sub_data_unique <- sub_data_unique %>% arrange(desc(mpg), hp)
print(sub_data_unique)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4

In [54]:
mazda_cars <- sub_data_unique %>% filter(str_detect(rownames(sub_data_unique), "Mazda"))
print(paste("Số lượng xe thỏa điều kiện:", nrow(mazda_cars)))

[1] "Số lượng xe thỏa điều kiện: 2"

In [55]:
# 7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
max_mpg <- max(sub_data_unique$mpg)
cat("Giá trị mpg lớn nhất:", max_mpg, "\n")
cat("Dòng dữ liệu có mpg =", max_mpg, ":", rownames(sub_data_unique[sub_data_unique$mpg == max_mpg, ]), "\n")

Giá trị mpg lớn nhất: 33.9
Dòng dữ liệu có mpg = 33.9 : Toyota Corolla

In [56]:
# 8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
filtered_data <- sub_data_unique %>%
  filter(mpg >= 25, cyl == 4, gear == 4)
filtered_data

               mpg  cyl disp hp drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4   78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2
Fiat X1-9      27.3 4   79.0 66 4.08 1.935 18.90 1  1  4    1

In [57]:
# 9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
cyl_stats <- filtered_data %>%
  group_by(cyl) %>%
  summarise(count = n(), hp_max = max(hp), mpg_min = min(mpg))
print(cyl_stats)

# A tibble: 1 × 4
    cyl count hp_max mpg_min
  <dbl> <int>  <dbl>   <dbl>
1     4     4     66    27.3

In [58]:
# 10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?
max_km_car <- sub_data %>%
  filter(km_per_litre == max(km_per_litre))
min_km_car <- sub_data %>%
  filter(km_per_litre == min(km_per_litre))
print("Xe có km_per_litre lớn nhất:")
print(max_km_car)
print("Xe có km_per_litre nhỏ nhất:")
print(min_km_car)

[1] "Xe có km_per_litre lớn nhất:"
                mpg hp    wt gear km_per_litre
Toyota Corolla 33.9 65 1.835    4      14.4075
[1] "Xe có km_per_litre nhỏ nhất:"
                     mpg  hp    wt gear km_per_litre
Cadillac Fleetwood  10.4 205 5.250    3         4.42
Lincoln Continental 10.4 215 5.424    3         4.42