In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar', 'foo'],
             'B': ['F', 'F', 'M', 'F', 'F'], 
             'C': [0,0,1,1,1]})

In [4]:
df.head()

     A  B  C
0  foo  F  0
1  foo  F  0
2  bar  M  1
3  bar  F  1
4  foo  F  1

In [6]:
df.duplicated().sum()

1

In [8]:
df[df.duplicated()]

     A  B  C
1  foo  F  0

In [9]:
df.drop_duplicates(keep='last')

     A  B  C
1  foo  F  0
2  bar  M  1
3  bar  F  1
4  foo  F  1

In [12]:
df.drop_duplicates(subset=['A','B'],ignore_index=True)

     A  B  C
0  foo  F  0
1  bar  M  1
2  bar  F  1