In [1]:
#import thư viện
from mysql.connector import connect

In [40]:
# Tạo kết nối đến Database
cn = connect(host='localhost', user='root', password='', database='productshipping')

In [41]:
# tạo Cursor từ đối tượng connect
cursor = cn.cursor()

### Gọi thủ tục với callproc

In [4]:
# gọi thủ tục có tên find_employee_by_phone2 với tham số vào là phone và 3 tham số ra là name, title và hiredate
# chuẩn bị tham số truyền vào thủ tục
params = ['(206) 555-0100', None, None, None]
# gọi thủ tục với callproc
results = cursor.callproc(procname='find_employee_by_phone2', args=params)

In [5]:
# xem kết quả
results

('(206) 555-0100', 'Don, Funk', 'Vice Presi', '2002-08-14 00:00:00')

### Gọi thực hiện truy vấn lấy về dữ liệu với execute

In [9]:
# tạo câu truy vấn
sql = "Select firstname, lastname, title, address From Employees Where country='usa'"
# gọi thực hiện truy vấn với phương thức execute
results = cursor.execute(sql)

In [10]:
# xem kết quả
for row in cursor:
    print(row)

('Sara', 'Davis', 'CEO', '7890 - 20th Ave. E., Apt. 2A')
('Don', 'Funk', 'Vice President, Sales', '9012 W. Capital Way')
('Judy', 'Lew', 'Sales Manager', '2345 Moss Bay Blvd.')
('Yael', 'Peled', 'Sales Representative', '5678 Old Redmond Rd.')
('Maria', 'Cameron', 'Sales Representative', '4567 - 11th Ave. N.E.')

In [ ]:
# hủy cursor và đóng kết nối
cursor.close()
cn.close()

#### thực thi nhiều câu truy vấn đồng thời với execute

In [22]:
# tạo câu truy vấn
sql = """
Select firstname, lastname, title, address From Employees Where country = 'usa';
Select Contactname, contacttitle, address From Customers Where country = 'usa';
"""
# gọi thực hiện truy vấn với phương thức execute
results = cursor.execute(sql, multi=True)

In [23]:
# xem kết quả
for result in results:
    print('\n')
    for row in result:
        print(row)

('Sara', 'Davis', 'CEO', '7890 - 20th Ave. E., Apt. 2A')
('Don', 'Funk', 'Vice President, Sales', '9012 W. Capital Way')
('Judy', 'Lew', 'Sales Manager', '2345 Moss Bay Blvd.')
('Yael', 'Peled', 'Sales Representative', '5678 Old Redmond Rd.')
('Maria', 'Cameron', 'Sales Representative', '4567 - 11th Ave. N.E.')


('Krishnan, Venky', 'Marketing Manager', '6789 Baker Blvd.')
('Smith, Denise', 'Sales Representative', 'City Center Plaza 2345 Main St.')
('Deshpande, Anu', 'Marketing Manager', '8901 Orchestra Terrace')
('Sunkammurali,  Krishna', 'Owner', '1234 Polk St. Suite 5')
('Szymczak, Radosław', 'Sales Manager', '9012 Chiaroscuro Rd.')
('Egelund-Muller, Anja', 'Sales Representative', '7890 Bering St.')
('Moore, Michael', 'Assistant Sales Representative', '6789 Milton Dr.')
('Navarro, Tomás', 'Sales Representative', '9012 Suffolk Ln.')
('Wojciechowska, Agnieszka', 'Sales Manager', 'P.O. Box 1234')
('Osorio, Cristian', 'Marketing Manager', '2345 Jefferson Way Suite 2')
('Young, Robin', 'Marketing Assistant', '0123 Grizzly Peak Rd.')
('Veninga, Tjeerd', 'Sales Associate', '1234 DaVinci Blvd.')
('Smith Jr., Ronaldo', 'Owner', '8901 - 14th Ave. S. Suite 3B')

#### Thực hiện truy vấn có tham số với execute

In [29]:
pCountry = input('Nhập tên quốc gia: ')
pCity = input('Nhập tên thành phố: ')

Nhập tên quốc gia: uk
Nhập tên thành phố: london

In [30]:
# tạo câu truy vấn trả về danh sách nhân viên theo quốc gia và thành phố là 2 tham số do người dùng nhập vào
sql = "Select firstname, lastname, title, address From Employees Where country=%s and city=%s"
# tạo bộ dữ liệu cho tham số
param_data = (pCity, pCountry)
# gọi thực hiện truy vấn với phương thức execute
results = cursor.execute(sql, params=param_data)

In [31]:
# xem kết quả
for row in cursor:
    print(row)

('Sven', 'Buck', 'Sales Manager', '8901 Garrett Hill')
('Paul', 'Suurs', 'Sales Representative', '3456 Coventry House, Miner Rd.')
('Russell', 'King', 'Sales Representative', '6789 Edgeham Hollow, Winchester Way')
('Zoya', 'Dolgopyatova', 'Sales Representative', '1234 Houndstooth Rd.')
('Thomas', 'Michael', 'Sales Representative', '123 - 19th Ave.')

In [36]:
# tạo câu truy vấn trả về danh sách nhân viên theo quốc gia và thành phố là 2 tham số do người dùng nhập vào
sql = "Select firstname, lastname, title, address From Employees Where country=%(quocgia)s and city=%(thanhpho)s"
# tạo bộ dữ liệu cho tham số
param_data = {'thanhpho': pCity, 'quocgia': pCountry}
# gọi thực hiện truy vấn với phương thức execute
results = cursor.execute(sql, params=param_data)

In [37]:
# xem kết quả
for row in cursor:
    print(row)

('Sven', 'Buck', 'Sales Manager', '8901 Garrett Hill')
('Paul', 'Suurs', 'Sales Representative', '3456 Coventry House, Miner Rd.')
('Russell', 'King', 'Sales Representative', '6789 Edgeham Hollow, Winchester Way')
('Zoya', 'Dolgopyatova', 'Sales Representative', '1234 Houndstooth Rd.')
('Thomas', 'Michael', 'Sales Representative', '123 - 19th Ave.')

#### thực thi truy vấn có tham số với nhiều bộ dữ liệu

In [38]:
# tạo câu truy vấn trả về danh sách nhân viên theo quốc gia và thành phố là 2 tham số do người dùng nhập vào
sql = "Select firstname, lastname, title, address, city From Employees Where country=%(quocgia)s and city=%(thanhpho)s"
# tạo bộ dữ liệu cho tham số
param_data = [
    {'thanhpho': 'Berlin', 'quocgia': 'Germany'},
    {'quocgia': 'Spain', 'thanhpho': 'Barcelona'}
]
# gọi thực hiện truy vấn lần lượt với từng bộ dữ liệu
for data in param_data:
    results = cursor.execute(sql, params=data)
    # xem kết quả
    for row in cursor:
        print(row)

#### Thực thi truy vấn thêm 3 sản phẩm mới vào bảng products

In [42]:
#tạo câu truy vấn thêm dữ liệu
sql = """
insert into products(productid, productname, supplierid, categoryid, unitprice, discontinued) 
values(%(maso)s, %(ten)s, %(cungcap)s, %(loai)s, %(gia)s, %(ngungban)s);
"""
# bộ dữ liệu cần thêm
param_data = [
    {'maso': 79, 'ten': 'Sản phẩm 1', 'cungcap': 1, 'loai': 1, 'gia': 222, 'ngungban': 0},
    {'maso': 80, 'ten': 'Sản phẩm 2', 'cungcap': 1, 'loai': 1, 'gia': 333, 'ngungban': 0},
    {'maso': 81, 'ten': 'Sản phẩm 3', 'cungcap': 1, 'loai': 1, 'gia': 444, 'ngungban': 0},
]

# gọi thực hiện truy vấn lần lượt với từng bộ dữ liệu
for data in param_data:
    cursor.execute(sql, params=data)

### ExecuteMany

In [43]:
#tạo câu truy vấn thêm dữ liệu
sql = """
insert into products(productid, productname, supplierid, categoryid, unitprice, discontinued) 
values(%(maso)s, %(ten)s, %(cungcap)s, %(loai)s, %(gia)s, %(ngungban)s);
"""
# bộ dữ liệu cần thêm
param_data = [
    {'maso': 82, 'ten': 'Sản phẩm 4', 'cungcap': 1, 'loai': 1, 'gia': 222, 'ngungban': 0},
    {'maso': 83, 'ten': 'Sản phẩm 5', 'cungcap': 1, 'loai': 1, 'gia': 333, 'ngungban': 0},
    {'maso': 84, 'ten': 'Sản phẩm 6', 'cungcap': 1, 'loai': 1, 'gia': 444, 'ngungban': 0},
]

# gọi thực hiện truy vấn với 3 bộ dự liệu bằng phương thức executemany
cursor.executemany(sql, seq_params=param_data)

In [44]:
cursor.rowcount

3

### Duyệt và in ra từng dòng dữ liệu với fetchone

In [45]:
# lấy ra 5 khách hàng đầu tiên
sql = 'Select Contactname, contacttitle, address From Customers limit 5'
# thực hiện truy vấn với execute
cursor.execute(sql)

# dùng fetchone để đọc từng dòng dữ liệu
row = cursor.fetchone()

while row:
    print(row)
    row = cursor.fetchone()

('Allen, Michael', 'Sales Representative', 'Obere Str. 0123')
('Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678')
('Peoples, John', 'Owner', 'Mataderos  7890')
('Arndt, Torsten', 'Sales Representative', '7890 Hanover Sq.')
('Higginbotham, Tom', 'Order Administrator', 'Berguvsvägen  5678')

### Duyệt và in nhiều dòng với fetchmany

In [49]:
# lấy ra 5 khách hàng đầu tiên
sql = 'Select Contactname, contacttitle, address From Customers limit 5'
# thực hiện truy vấn với execute
cursor.execute(sql)


# in ra dòng đầu tiên
print(cursor.fetchmany())
# in ra dòng tiếp theo
print(cursor.fetchmany(2))
# in ra dòng tiếp theo
print(cursor.fetchmany(2))
# in ra 1 dòng tiếp theo
print(cursor.fetchmany())

[('Allen, Michael', 'Sales Representative', 'Obere Str. 0123')]
[('Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678'), ('Peoples, John', 'Owner', 'Mataderos  7890')]
[('Arndt, Torsten', 'Sales Representative', '7890 Hanover Sq.'), ('Higginbotham, Tom', 'Order Administrator', 'Berguvsvägen  5678')]
[]

### Duyệt và in nhiều dòng với fetchall

In [48]:
# lấy ra 5 khách hàng đầu tiên
sql = 'Select Contactname, contacttitle, address From Customers limit 5'
# thực hiện truy vấn với execute
cursor.execute(sql)

# in ra dòng đầu tiên
print(cursor.fetchone())
# in ra tất cả các dòng còn lại
print(cursor.fetchall())

('Allen, Michael', 'Sales Representative', 'Obere Str. 0123')
[('Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678'), ('Peoples, John', 'Owner', 'Mataderos  7890'), ('Arndt, Torsten', 'Sales Representative', '7890 Hanover Sq.'), ('Higginbotham, Tom', 'Order Administrator', 'Berguvsvägen  5678')]

In [50]:
cursor.column_names

('Contactname', 'contacttitle', 'address')

In [51]:
cursor.with_rows

True

In [52]:
cursor.lastrowid

0

In [53]:
cursor.statement

'Select Contactname, contacttitle, address From Customers limit 5'

In [54]:
cursor.rowcount

5