In [2]:
%reload_ext sql

In [3]:
connectionstring = 'mysql+pymysql://root:***@localhost/ProductShipping?charset=utf8'
%sql $connectionstring

Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\engine\create.py", line 605, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\dialects\mysql\pymysql.py", line 75, in import_dbapi
    return __import__("pymysql")
ModuleNotFoundError: No module named 'pymysql'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Program Files\Python39\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Program Files\Python39\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
    return fn(*args, **kwargs)  # type: ignore[no-any-return]
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\engine\create.py", line 605, in create_engine
    dbapi = dbapi_meth(**dbapi_args)
  File "C:\Users\phamp\AppData\Roaming\Python\Python39\site-packages\sqlalchemy\dialects\mysql\pymysql.py", line 75, in import_dbapi
    return __import__("pymysql")
ModuleNotFoundError: No module named 'pymysql'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [16]:
%sql "mysql+pymysql://root:@localhost/ProductShipping?charset=utf8"

In [17]:
%sql select * from customers where country ='mexico'

 * mysql+pymysql://root:***@localhost/ProductShipping?charset=utf8
5 rows affected.

[(2, 'Customer MLTDN', 'Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678', 'México D.F.', None, '10077', 'Mexico', '(5) 789-0123', '(5) 456-7890'),
 (3, 'Customer KBUDE', 'Peoples, John', 'Owner', 'Mataderos  7890', 'México D.F.', None, '10097', 'Mexico', '(5) 123-4567', None),
 (13, 'Customer VMLOG', 'Benito, Almudena', 'Marketing Manager', 'Sierras de Granada 7890', 'México D.F.', None, '10056', 'Mexico', '(5) 456-7890', '(5) 123-4567'),
 (58, 'Customer AHXHT', 'Fakhouri, Fadi', 'Sales Representative', 'Calle Dr. Jorge Cash 8901', 'México D.F.', None, '10116', 'Mexico', '(5) 890-1234', '(5) 567-8901'),
 (80, 'Customer VONTK', 'Geschwandtner, Jens', 'Owner', 'Avda. Azteca 4567', 'México D.F.', None, '10044', 'Mexico', '(5) 678-9012', None)]

In [18]:
result = %sql select * from customers where country ='mexico'

 * mysql+pymysql://root:***@localhost/ProductShipping?charset=utf8
5 rows affected.

In [19]:
type(result)

sql.run.ResultSet

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(result)

In [9]:
df

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
0,2,Customer MLTDN,"Hassall, Mark",Owner,Avda. de la Constitución 5678,México D.F.,None,10077,Mexico,(5) 789-0123,(5) 456-7890
1,3,Customer KBUDE,"Peoples, John",Owner,Mataderos 7890,México D.F.,None,10097,Mexico,(5) 123-4567,None
2,13,Customer VMLOG,"Benito, Almudena",Marketing Manager,Sierras de Granada 7890,México D.F.,None,10056,Mexico,(5) 456-7890,(5) 123-4567
3,58,Customer AHXHT,"Fakhouri, Fadi",Sales Representative,Calle Dr. Jorge Cash 8901,México D.F.,None,10116,Mexico,(5) 890-1234,(5) 567-8901
4,80,Customer VONTK,"Geschwandtner, Jens",Owner,Avda. Azteca 4567,México D.F.,None,10044,Mexico,(5) 678-9012,None

In [22]:
from sqlalchemy.engine import create_engine

In [23]:
cn = create_engine("mysql+pymysql://root:@localhost/ProductShipping?charset=utf8")

In [12]:
sql = "select * from customers where country ='mexico'"
df = pd.read_sql(sql,cn)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [24]:
result = %sql select * from customers where country ='mexico'
df= result.DataFrame()
df

 * mysql+pymysql://root:***@localhost/ProductShipping?charset=utf8
5 rows affected.

,custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
0,2,Customer MLTDN,"Hassall, Mark",Owner,Avda. de la Constitución 5678,México D.F.,None,10077,Mexico,(5) 789-0123,(5) 456-7890
1,3,Customer KBUDE,"Peoples, John",Owner,Mataderos 7890,México D.F.,None,10097,Mexico,(5) 123-4567,None
2,13,Customer VMLOG,"Benito, Almudena",Marketing Manager,Sierras de Granada 7890,México D.F.,None,10056,Mexico,(5) 456-7890,(5) 123-4567
3,58,Customer AHXHT,"Fakhouri, Fadi",Sales Representative,Calle Dr. Jorge Cash 8901,México D.F.,None,10116,Mexico,(5) 890-1234,(5) 567-8901
4,80,Customer VONTK,"Geschwandtner, Jens",Owner,Avda. Azteca 4567,México D.F.,None,10044,Mexico,(5) 678-9012,None

In [25]:
%%sql resuls <<
select * from 
customers 
where country ='mexico'

 * mysql+pymysql://root:***@localhost/ProductShipping?charset=utf8
5 rows affected.
Returning data to local variable resuls

In [26]:
resuls

[(2, 'Customer MLTDN', 'Hassall, Mark', 'Owner', 'Avda. de la Constitución 5678', 'México D.F.', None, '10077', 'Mexico', '(5) 789-0123', '(5) 456-7890'),
 (3, 'Customer KBUDE', 'Peoples, John', 'Owner', 'Mataderos  7890', 'México D.F.', None, '10097', 'Mexico', '(5) 123-4567', None),
 (13, 'Customer VMLOG', 'Benito, Almudena', 'Marketing Manager', 'Sierras de Granada 7890', 'México D.F.', None, '10056', 'Mexico', '(5) 456-7890', '(5) 123-4567'),
 (58, 'Customer AHXHT', 'Fakhouri, Fadi', 'Sales Representative', 'Calle Dr. Jorge Cash 8901', 'México D.F.', None, '10116', 'Mexico', '(5) 890-1234', '(5) 567-8901'),
 (80, 'Customer VONTK', 'Geschwandtner, Jens', 'Owner', 'Avda. Azteca 4567', 'México D.F.', None, '10044', 'Mexico', '(5) 678-9012', None)]