In [1]:
import pandas as pd
import numpy as np

In [15]:
data = {"marker":["Delorian", "Fantom"],
       "cyl":[4, 2],
       "hp": [160, 80],
       "carb": [4,2]}

In [16]:
df = pd.DataFrame(data)

In [17]:
df

     marker  cyl   hp  carb
0  Delorian    4  160     4
1    Fantom    2   80     2

#### Convert to tydi data

In [19]:
df_new = df.melt(id_vars='marker' ,var_name='metrics', value_name='count')
df_new

     marker metrics  count
0  Delorian     cyl      4
1    Fantom     cyl      2
2  Delorian      hp    160
3    Fantom      hp     80
4  Delorian    carb      4
5    Fantom    carb      2

#### Convert to pivot data

In [12]:
df_pivot = df_new.pivot(index='marker', columns='metrics',values='count')
df_pivot

metrics   carb  cyl   hp
marker
Delorian     4    4  160
Fantom       2    2   80

In [20]:
df_new = df_new.append({'marker':'Fantom','metrics':'carb','count':6}, ignore_index=True)
df_new

C:\Users\AW\AppData\Local\Temp\ipykernel_21544\2481991310.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_new.append({'marker':'Fantom','metrics':'carb','count':6}, ignore_index=True)

     marker metrics  count
0  Delorian     cyl      4
1    Fantom     cyl      2
2  Delorian      hp    160
3    Fantom      hp     80
4  Delorian    carb      4
5    Fantom    carb      2
6    Fantom    carb      6

In [21]:
df_new.pivot_table(index='marker', columns='metrics',values='count', aggfunc='max')

metrics   carb  cyl   hp
marker
Delorian     4    4  160
Fantom       6    2   80