#### RE technique

In [1]:
import re

In [4]:
pattern = '\d{3}-\d{3}-\d{4}'
matcher = re.compile(pattern)

In [5]:
bool(matcher.match('123-456-78890'))

True

In [6]:
bool(matcher.match('123-456x-78890'))

False

In [8]:
matcher.match('123-456-78890')

In [9]:
re.match(pattern='\$\d+\.\d{2}', string='$123.45')

In [10]:
re.match(pattern='[A-Z]\w+', string='HoChiMinh')

In [11]:
re.findall(pattern='\d+', string='1 a 2 b 3 c')

['1', '2', '3']

### Pandas technique

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame({'Cap_bac_cong_viec':['Quản lý/ Trưởng phòng', 
                                                     'Trưởng nhóm/ Giám sát', 
                                                     'NV có kinh nghiệm', 
                                                     'Mới ra trường'], 
                             'Luong_trung_binh':['30.000.000 VNĐ', '20.000.000 đ', 
                                                 '15.600.000 vnđ', '7.500.000 VNĐ']})

In [14]:
df

       Cap_bac_cong_viec Luong_trung_binh
0  Quản lý/ Trưởng phòng   30.000.000 VNĐ
1  Trưởng nhóm/ Giám sát     20.000.000 đ
2      NV có kinh nghiệm   15.600.000 vnđ
3          Mới ra trường    7.500.000 VNĐ

In [25]:
df.Luong_trung_binh.str.lower().str.replace('vnđ','').str.replace('đ','').str.strip().str.replace('.','').astype(float)

C:\Users\AW\AppData\Local\Temp\ipykernel_27956\276967422.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Luong_trung_binh.str.lower().str.replace('vnđ','').str.replace('đ','').str.strip().str.replace('.','').astype(float)

0    30000000.0
1    20000000.0
2    15600000.0
3     7500000.0
Name: Luong_trung_binh, dtype: float64

In [28]:
df.Luong_trung_binh.str.replace('.','').str.extract('(\d+)')

C:\Users\AW\AppData\Local\Temp\ipykernel_27956\1487358131.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.Luong_trung_binh.str.replace('.','').str.extract('(\d+)')

          0
0  30000000
1  20000000
2  15600000
3   7500000