In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

## Requirement 1

In [4]:
 df = pd.read_csv('./input_data/Automobile_data.csv')

## Requirement 2

In [7]:
df['price'].str.isnumeric().value_counts()

True     201
False      4
Name: price, dtype: int64

In [11]:
df['price'][~df['price'].str.isnumeric()]

9      ?
44     ?
45     ?
129    ?
Name: price, dtype: object

## Requirement 3

In [14]:
median = df['price'][df['price'].str.isnumeric()].median()

In [15]:
median

10295.0

In [20]:
str_index = df['price'][~df['price'].str.isnumeric()].index
str_index

Int64Index([9, 44, 45, 129], dtype='int64')

In [22]:
df.loc[str_index,'price'] = median

In [23]:
df['price'] = df['price'].astype(float)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

## Req 4

In [ ]:
def replace_not_numeric_with_median(column_name, df):
    count_not_numeric = df[column_name].str.isnumeric().value_counts()
    print(count_not_numeric)
    str_index = df[column_name][~df[column_name].str.isnumeric()].index
    print(str_index)
    median = df[column_name][df[column_name].str.isnumeric()].median()
    print(median)
    df.loc[str_index,column_name] = median