In [1]:
%config Completer.use_jedi = False

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\phamp\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('input_data/spam.csv',encoding='latin-1')

In [6]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df= df[['v2','v1']]
df.head()

                                                  v2    v1
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v2      5169 non-null   object
 1   v1      5169 non-null   object
dtypes: object(2)
memory usage: 121.1+ KB

## Split into train/test

In [10]:
df_train = df.sample(frac=0.8, random_state=0)
df_test = df.drop(df_train.index)

In [11]:
df_train.shape

(4135, 2)

In [12]:
df_test.shape

(1034, 2)

In [13]:
train_records = df_train.to_records(index=False)
train_records

rec.array([('Dunno da next show aft 6 is 850. Toa payoh got 650.', 'ham'),
           ('Thanx 4 2day! U r a goodmate I THINK UR RITE SARY! ASUSUAL!1 U CHEERED ME UP! LOVE U FRANYxxxxx', 'ham'),
           ('But my family not responding for anything. Now am in room not went to home for diwali but no one called me and why not coming. It makes me feel like died.', 'ham'),
           ..., ('If e timing can, then i go w u lor...', 'ham'),
           ("Where are you ? What do you do ? How can you stand to be away from me ? Doesn't your heart ache without me ? Don't you wonder of me ? Don't you crave me ?", 'ham'),
           ('K...k:)why cant you come here and search job:)', 'ham')],
          dtype=[('v2', 'O'), ('v1', 'O')])

In [14]:
test_records = df_test.to_records(index=False)
test_records

rec.array([('Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'ham'),
           ("As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune", 'ham'),
           ('I\x89Û÷m going to try for 2 months ha ha only joking', 'ham'),
           ...,
           ("No. I meant the calculation is the same. That  &lt;#&gt; units at  &lt;#&gt; . This school is really expensive. Have you started practicing your accent. Because its important. And have you decided if you are doing 4years of dental school or if you'll just do the nmde exam.", 'ham'),
           ('Ard 6 like dat lor.', 'ham'),
           ('Pity, * was in mood for that. So...any other suggestions?', 'ham')],
          dtype=[('v2', 'O'), ('v1', 'O')])

## Build Model

In [1]:
from textblob.classifiers import NaiveBayesClassifier

ModuleNotFoundError: No module named 'textblob'

In [18]:
model =NaiveBayesClassifier(train_records)

### Evaluation result

In [25]:
print(f'Accurracy of train set model: {model.accuracy(test_records)}')

Accurracy of train set model: 0.9825918762088974

In [26]:
model.classify('I will work from home tomorrow')

'ham'

In [30]:
model.classify('Call 01234556789 to get FREE ticket to USA and have change to win price Nokia')

'spam'

In [29]:
model.show_informative_features(5)

Most Informative Features
          contains(FREE) = True             spam : ham    =    308.4 : 1.0
             contains(T) = True             spam : ham    =    229.5 : 1.0
            contains(16) = True             spam : ham    =    146.1 : 1.0
       contains(service) = True             spam : ham    =    146.1 : 1.0
         contains(Nokia) = True             spam : ham    =    132.2 : 1.0

### Wrapping modal

In [31]:
from textblob import TextBlob

In [32]:
wrapper = TextBlob('I will work from home tomorrow', classifier=model)

In [33]:
wrapper.classify()

'ham'

In [36]:
model.prob_classify('I will work from home tomorrow').prob('ham')

0.9999999999344419

In [37]:
model.prob_classify('I will work from home tomorrow').prob('spam')

6.555594800622375e-11

In [42]:
model.prob_classify('DONT STOP use our service for get better price').prob('ham')

0.9185027379218705