In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [7]:
allFiles = glob.glob("./input_data/201*-baby-names-illinois.csv") 
frame = pd.DataFrame()
df_list= []
for file_ in allFiles:
    df = pd.read_csv(file_, index_col=None, header=0)
    print(file_, df.shape)
    df.columns = map(str.lower, df.columns)
    df["year"] = file_[0:4]
    df_list.append(df)

./input_data\2014-baby-names-illinois.csv (101, 4)
./input_data\2015-baby-names-illinois.csv (100, 4)

In [8]:
df4 = pd.concat(df_list)
df4

    rank       name  frequency   sex  year
0      1       Noah        837  Male  ./in
1      2  Alexander        747  Male  ./in
2      3    William        687  Male  ./in
3      4    Michael        680  Male  ./in
4      5       Liam        670  Male  ./in
..   ...        ...        ...   ...   ...
95    96   Giovanni        168  Male  ./in
96    97     Hudson        167  Male  ./in
97    98     Camden        165  Male  ./in
98    99        Max        164  Male  ./in
99   100    Maxwell        155  Male  ./in

[201 rows x 5 columns]

In [9]:
df4.shape

(201, 5)