In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession

In [3]:
sc =SparkContext()

In [4]:
spark = SparkSession(sc)

In [6]:
#1.
df = spark.read.csv('voters_data/DallasCouncilVoters.csv', header=True,inferSchema=True)

In [7]:
#2.
df.count()

44625

In [8]:
df.printSchema()

root
 |-- DATE: string (nullable = true)
 |-- TITLE: string (nullable = true)
 |-- VOTER_NAME: string (nullable = true)

In [9]:
df.show(5)

+----------+-------------+-------------------+
|      DATE|        TITLE|         VOTER_NAME|
+----------+-------------+-------------------+
|02/08/2017|Councilmember|  Jennifer S. Gates|
|02/08/2017|Councilmember| Philip T. Kingston|
|02/08/2017|        Mayor|Michael S. Rawlings|
|02/08/2017|Councilmember|       Adam Medrano|
|02/08/2017|Councilmember|       Casey Thomas|
+----------+-------------+-------------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import col, udf
from pyspark.sql.functions import isnan, when, count, col

In [11]:
#3. Kiểm tra dữ liệu NaN, null
df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).toPandas().T

            0
DATE        0
TITLE       0
VOTER_NAME  0

In [12]:
# => Không có dữ liệu NaN

In [14]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas().T

              0
DATE          0
TITLE       195
VOTER_NAME  503

In [15]:
# => Có dữ liệu null. Xóa dữ liệu có VOTER_NAME null

In [16]:
df = df.dropna(subset='VOTER_NAME')

In [18]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas().T

            0
DATE        0
TITLE       0
VOTER_NAME  0

In [19]:
# => hết dữ liệu null

In [20]:
#4.
num_rows = df.count()
num_dist_rows = df.distinct().count()
dup_rows = num_rows - num_dist_rows

In [21]:
display(num_rows, num_dist_rows, dup_rows)

44122

1273

42849

In [22]:
# Check duplicate
df.filter(df['VOTER_NAME'] == 'Philip T. Kingston').show(5)

+----------+-------------+------------------+
|      DATE|        TITLE|        VOTER_NAME|
+----------+-------------+------------------+
|02/08/2017|Councilmember|Philip T. Kingston|
|02/08/2017|Councilmember|Philip T. Kingston|
|01/11/2017|Councilmember|Philip T. Kingston|
|09/14/2016|Councilmember|Philip T. Kingston|
|01/04/2017|Councilmember|Philip T. Kingston|
+----------+-------------+------------------+
only showing top 5 rows

In [23]:
df = df.drop_duplicates()

In [24]:
df.count()

1273

In [25]:
#5. Show the distinct VOTER_NAME entries
df.select(df['VOTER_NAME']).distinct().show(10)

+--------------------+
|          VOTER_NAME|
+--------------------+
|      Tennell Atkins|
|  the  final   20...|
|        Scott Griggs|
|       Scott  Griggs|
|       Sandy Greyson|
| Michael S. Rawlings|
| the final 2018 A...|
|        Kevin Felder|
|        Adam Medrano|
|       Casey  Thomas|
+--------------------+
only showing top 10 rows

In [26]:
from pyspark.sql.functions import *

In [27]:
#6. Filter df where the VOTER_NAME is 1-20 characters in length
df = df.filter('length(VOTER_NAME) > 0 and length(VOTER_NAME) < 20')

In [28]:
df.show(5)

+----------+--------------------+------------------+
|      DATE|               TITLE|        VOTER_NAME|
+----------+--------------------+------------------+
|04/11/2018|Deputy Mayor Pro Tem|      Adam Medrano|
|02/14/2018|       Councilmember|   Lee M. Kleinman|
|04/25/2018|       Councilmember|    Tennell Atkins|
|08/29/2018|       Councilmember|      Kevin Felder|
|10/18/2017|       Councilmember|Jennifer S.  Gates|
+----------+--------------------+------------------+
only showing top 5 rows

In [29]:
#7. Filter out df where the VOTER_NAME contains an underscore
df = df.filter(~ col('VOTER_NAME').contains('_'))

In [30]:
# Show the distinct VOTER_NAME entries again
df.select('VOTER_NAME').distinct().show(10, truncate=False)

+-------------------+
|VOTER_NAME         |
+-------------------+
|Tennell Atkins     |
|Scott Griggs       |
|Scott  Griggs      |
|Sandy Greyson      |
|Michael S. Rawlings|
|Kevin Felder       |
|Adam Medrano       |
|Casey  Thomas      |
|Mark  Clayton      |
|Casey Thomas       |
+-------------------+
only showing top 10 rows

### Modifying DataFrame

In [31]:
#8. Add a new column called splits separated on whitespace
df = df.withColumn('splits', split(df.VOTER_NAME, '\s+'))

In [32]:
#9. Create a new column called first_name based on the first item in splits
df = df.withColumn('first_name', df.splits.getItem(0))

In [33]:
#10. Get the last entry of the splits list and create a column called last_name
df = df.withColumn('last_name', df.splits.getItem(size('splits') - 1))

C:\spark\spark-3.5.0-bin-hadoop3\python\pyspark\sql\column.py:460: FutureWarning: A column as 'key' in getItem is deprecated as of Spark 3.0, and will not be supported in the future release. Use `column[key]` or `column.key` syntax instead.
  warnings.warn(

In [34]:
# Show the voter_df DataFrame
df.show(3)

+----------+--------------------+---------------+-------------------+----------+---------+
|      DATE|               TITLE|     VOTER_NAME|             splits|first_name|last_name|
+----------+--------------------+---------------+-------------------+----------+---------+
|04/11/2018|Deputy Mayor Pro Tem|   Adam Medrano|    [Adam, Medrano]|      Adam|  Medrano|
|02/14/2018|       Councilmember|Lee M. Kleinman|[Lee, M., Kleinman]|       Lee| Kleinman|
|04/25/2018|       Councilmember| Tennell Atkins|  [Tennell, Atkins]|   Tennell|   Atkins|
+----------+--------------------+---------------+-------------------+----------+---------+
only showing top 3 rows

In [35]:
#11. Add a column to df for any voter with the title 'Councilmember'
df = df.withColumn('random_val', when(df.TITLE == 'Councilmember', rand()))

In [36]:
# Show some of the DataFrame rows, noting whether the when clause worked
df.show(5)

+----------+--------------------+------------------+--------------------+----------+---------+-------------------+
|      DATE|               TITLE|        VOTER_NAME|              splits|first_name|last_name|         random_val|
+----------+--------------------+------------------+--------------------+----------+---------+-------------------+
|04/11/2018|Deputy Mayor Pro Tem|      Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|               NULL|
|02/14/2018|       Councilmember|   Lee M. Kleinman| [Lee, M., Kleinman]|       Lee| Kleinman| 0.4442714383699763|
|04/25/2018|       Councilmember|    Tennell Atkins|   [Tennell, Atkins]|   Tennell|   Atkins|0.40049458118910997|
|08/29/2018|       Councilmember|      Kevin Felder|     [Kevin, Felder]|     Kevin|   Felder| 0.6192204025880051|
|10/18/2017|       Councilmember|Jennifer S.  Gates|[Jennifer, S., Ga...|  Jennifer|    Gates| 0.9145113956786142|
+----------+--------------------+------------------+--------------------+----------+---------+-------------------+
only showing top 5 rows

In [37]:
#. Add a column to df for a voter based on their position
df = df.withColumn('random_val',
                   when(df.TITLE == 'Councilmember', rand())
                   .when(df.TITLE == 'Mayor', 2)
                   .otherwise(0))

In [38]:
# Show some of the DataFrame rows
df.show(5)

+----------+--------------------+------------------+--------------------+----------+---------+------------------+
|      DATE|               TITLE|        VOTER_NAME|              splits|first_name|last_name|        random_val|
+----------+--------------------+------------------+--------------------+----------+---------+------------------+
|04/11/2018|Deputy Mayor Pro Tem|      Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|               0.0|
|02/14/2018|       Councilmember|   Lee M. Kleinman| [Lee, M., Kleinman]|       Lee| Kleinman|0.8705970036562815|
|04/25/2018|       Councilmember|    Tennell Atkins|   [Tennell, Atkins]|   Tennell|   Atkins|0.6601037640995535|
|08/29/2018|       Councilmember|      Kevin Felder|     [Kevin, Felder]|     Kevin|   Felder| 0.895073819742495|
|10/18/2017|       Councilmember|Jennifer S.  Gates|[Jennifer, S., Ga...|  Jennifer|    Gates|0.9590172113777458|
+----------+--------------------+------------------+--------------------+----------+---------+------------------+
only showing top 5 rows

In [39]:
#12. Use the .filter() clause with random_val
df.filter(df.random_val == 0).show(5)

+----------+--------------------+-----------------+--------------------+----------+---------+----------+
|      DATE|               TITLE|       VOTER_NAME|              splits|first_name|last_name|random_val|
+----------+--------------------+-----------------+--------------------+----------+---------+----------+
|04/11/2018|Deputy Mayor Pro Tem|     Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
|04/12/2017|       Mayor Pro Tem| Monica R. Alonzo|[Monica, R., Alonzo]|    Monica|   Alonzo|       0.0|
|06/28/2017|Deputy Mayor Pro Tem|     Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
|01/03/2018|Deputy Mayor Pro Tem|     Adam Medrano|     [Adam, Medrano]|      Adam|  Medrano|       0.0|
|01/17/2018|       Mayor Pro Tem|Dwaine R. Caraway|[Dwaine, R., Cara...|    Dwaine|  Caraway|       0.0|
+----------+--------------------+-----------------+--------------------+----------+---------+----------+
only showing top 5 rows

### UDF

In [40]:
from pyspark.sql.types import *

In [41]:
def getFirstAndMiddle(names):
    # Return a space separated string of names
    return ' '.join(names[:-1])

In [42]:
#13. Define the method as a UDF
udfFirstAndMiddle = udf(getFirstAndMiddle, StringType())

In [43]:
#14. Create a new column using your UDF
df = df.withColumn('first_and_middle_name', udfFirstAndMiddle(df.splits))

In [44]:
#15. Drop the unnecessary columns then show the DataFrame
df = df.drop('first_name')
df = df.drop('splits')

In [45]:
df.show(5)

+----------+--------------------+------------------+---------+------------------+---------------------+
|      DATE|               TITLE|        VOTER_NAME|last_name|        random_val|first_and_middle_name|
+----------+--------------------+------------------+---------+------------------+---------------------+
|04/11/2018|Deputy Mayor Pro Tem|      Adam Medrano|  Medrano|               0.0|                 Adam|
|02/14/2018|       Councilmember|   Lee M. Kleinman| Kleinman|0.8705970036562815|               Lee M.|
|04/25/2018|       Councilmember|    Tennell Atkins|   Atkins|0.6601037640995535|              Tennell|
|08/29/2018|       Councilmember|      Kevin Felder|   Felder| 0.895073819742495|                Kevin|
|10/18/2017|       Councilmember|Jennifer S.  Gates|    Gates|0.9590172113777458|          Jennifer S.|
+----------+--------------------+------------------+---------+------------------+---------------------+
only showing top 5 rows

### Adding an ID Field

In [46]:
# Select all the unique council voters
df = df.select(df["VOTER_NAME"]).distinct()
# Count the rows in voter_df
print("\nThere are %d rows in the df DataFrame.\n" % df.count())

There are 27 rows in the df DataFrame.

In [47]:
#16. Add a ROW_ID
df = df.withColumn('ROW_ID', monotonically_increasing_id())

In [48]:
#17. Show the rows with 10 highest IDs in the set
df.orderBy(df.ROW_ID.desc()).show(10)

+-------------------+------+
|         VOTER_NAME|ROW_ID|
+-------------------+------+
|       Lee Kleinman|    26|
|        Erik Wilson|    25|
|Carolyn King Arnold|    24|
|Rickey D.  Callahan|    23|
|   Monica R. Alonzo|    22|
|    Lee M. Kleinman|    21|
|  Jennifer S. Gates|    20|
|Philip T.  Kingston|    19|
|  Dwaine R. Caraway|    18|
| Rickey D. Callahan|    17|
+-------------------+------+
only showing top 10 rows

### IDs with different partitions

In [49]:
# Mở rộng

- Make sure to store the result of .rdd.max()[0] in the variable.
- monotonically_increasing_id() returns an integer. You can modify that value in-line.
- Make sure to show both Data Frames.

In [52]:
# Determine the highest ROW_ID and save it in previous_max_ID
previous_max_ID = df.select('ROW_ID').rdd.max()[0]
# Add a ROW_ID column to df_april starting at the desired value
voter_df_april = df.withColumn('ROW_ID',
monotonically_increasing_id() + previous_max_ID)

In [53]:
# Show the ROW_ID from both DataFrames and compare
df.select('ROW_ID').show(5)
voter_df_april.select('ROW_ID').show(5)

+------+
|ROW_ID|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

+------+
|ROW_ID|
+------+
|    26|
|    27|
|    28|
|    29|
|    30|
+------+
only showing top 5 rows